@charset 'UTF-8';

#ly-navigation {
	display: flex;
	position: fixed;

	flex-direction: row;

	box-sizing: border-box;
	width: 100%;
}

#ly-navigation>.ly-element:last-child {
	margin-left: auto;
}

/* =====================
Component
===================== */
#cp-menu {
	display: flex;
	flex-direction: row;

}

#cp-menu>* {
	display: block;

	flex: 0 0 auto;
}

@media (max-width: 800px) {

	#ly-navigation>.ly-element:last-child {
		margin-left: initial;
		flex: 1;
	}

	#cp-menu {
		visibility: hidden;
		height: 0px;
		overflow-y: hidden;
		overflow-x: hidden;

		flex-direction: column;
	}

	#cp-menu.st-active {
		visibility: visible;

		height: 250px;
	}
}
