@charset "UTF-8";

#ly-navigation {
	display: flex;
	position: fixed;

	flex-direction: row;

	box-sizing: border-box;
	width: 100%;
}

#ly-navigation>.ly-element:last-child {
	margin-left: auto;
}

#ly-title {
	background-color: black;

	height: 100px;
}
/* =====================
Component
===================== */
#cp-menu {
	margin: 0px;
	padding: 0px;
	padding-right: 3em;

	list-style: none;

	display: flex;
	flex-direction: row;

	text-transform: uppercase;
}

#cp-menu a,
#cp-menu a:link,
#cp-menu a:visited,
#cp-menu a:hover,
#cp-menu a:active {
	color: inherit;
	font-weight: normal;
	opacity: 0.75;

	text-decoration: none;
}

#cp-menu a:hover,
#cp-menu>*.st-active {
	opacity: 1.00;
}

#cp-menu a {
	display: block;
	padding: 1em;
}
